@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.24px;
}

/* Main container style */
.container {
    padding: 4em 10%; /* Adjust the padding as needed */
    background: #FFFFFF;
}

/* Header styles */
.header {
    padding-top: 100px; /* Padding from the top */
    text-align: left; /* Align to the left */
    margin-bottom: 2em; /* Space below the header */
}

.header h1 {
    color: #000;
    font-size: 24px; /* Adjust the size as needed */
    font-weight: 400; /* Regular weight */
    line-height: 32px;
    margin-bottom: 0.5em; /* Space below the site title */
}

.header p {
    color: rgba(0, 0, 0, 0.6); /* Description color */
    font-size: 24px;
    line-height: 32px;
}

/* Dynamic Posts Section */
.posts {
    margin-top: 100px; /* Space from header to posts */
    margin-bottom: 150px; /* Space from posts to footer */
}

.post {
    margin-bottom: 50px; /* Space between each article */
}

.post h2 {
    color: #000;
    margin-bottom: 15px; /* Space between title and publish date */
}

.post h2 a {
    text-decoration: none; /* No underline by default */
    color: #000;
}

.post h2 a:hover {
    text-decoration: underline; /* Underline on hover */
    color: #0B64FE; /* Change color to blue on hover */
}

.post time {
    color: rgba(0, 0, 0, 0.33); /* Publish date color */
}

/* Footer styles */
.footer {
    text-align: left;
    padding: 50px 0 50px; /* Padding around the footer content */
    background: #FAFAFA; /* Light grey background */
}

.footer p {
    color: rgba(0, 0, 0, 0.33);
    margin-bottom: 20px; /* Space between the header and links */
}

.footer a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: underline;
    display: block; /* Each link on a new line */
    margin-bottom: 10px; /* Spacing between links */
}

.footer a:hover {
    color: #000; /* Link color on hover */
    text-decoration: none; /* No underline on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        padding: 4em 5%; /* Reduced padding on smaller screens */
    }

    .header, .posts, .footer {
        text-align: left; /* Align to the left */
    }
}
