
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    letter-spacing: -0.008em;
}

body {
    background-color: #fff;
    color: #282a30;
}

h1, h2 {
    font-weight: 600;
    font-size: 18px;
    margin-top:50px;
    margin-top: 27px;
}

a {
    color: #282a30;
    text-decoration: underline;
    transition: color 0.3s ease;
}

a:hover {
    color: #0B64FE;
    text-decoration: underline;
}

.container {
    width: 95%;
    max-width: 588px;
    margin: 100px auto;
}

.posts {
    margin-top: 25px;
}


.content blockquote {
    border-left: 2px solid rgba(0, 0, 0, 0.33);
    background-color: #f5f5f5;
    margin-bottom: 27px;
    color: #282a30;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 1px;
}

.content p {
    margin-bottom: 27px;
}

/* Unordered List */
ul {
    list-style-type: disc; /* Default bullet style, can also be 'circle' or 'square' */
    padding-left: 20px; /* Indent the list */
    margin-bottom: 27px; /* Space after the list */
}

/* Ordered List */
ol {
    list-style-type: decimal; /* Default numbered style */
    padding-left: 20px; /* Indent the list */
    margin-bottom: 17px; /* Space after the list */
}

/* List items */
li {
    margin-bottom: 10px; /* Space between list items */
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
        padding: 25px 2%;
        max-width: 588px;
    }
}
