@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;
}

/* Main Container */
.container {
    max-width: 66ch; /* Adjust max-width as necessary to fit content */
    margin: 0 auto; /* Center content horizontally */
}

/* Header Styles */
.header {
    text-align: left;
    margin-bottom: 2em;
}

.header h1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 105%;
}

.header p {
    color: rgba(0, 0, 0, 0.6);
}

/* Posts Section */
.posts .post + .post {
    margin-top: 50px; /* Add space between blog posts */
}

/* Post Titles and Dates */
.posts h2 a {
    color: #000;
    text-decoration: none;
}

.posts h2 a:hover {
    color: #0B64FE;
}

.posts time {
    color: rgba(0, 0, 0, 0.6);
}

/* Footer Styles */
.footer {
    padding: 1em 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
}

.footer p {
    color: rgba(0, 0, 0, 0.33);
    font-weight: 400;
    font-size: 20px;
    line-height: 105%;
}

.footer a {
    color:  rgba(0, 0, 0, 0.6);
    text-decoration: undereline;
}

.footer a:hover {
    text-decoration: underline; /* Underline links on hover */
}

