<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mikk Lemberg's Blog</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
</head>
<body>
    <div class="container">
        <header>
            <p>Mikk Lemberg</p>
            <p style="opacity: 0.60">As a (systems) designer and avid cyclist, I have found myself wondering about broader aspects for improving urban environment and ensuring everyone has equal opportunities for a fulfilling life.</p>
        </header>
        <section class="posts">
            {% for post in site.posts %}
            <article class="post">
                <p><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
                <time datetime="{{ post.date | date_to_xmlschema }}" style="opacity: 0.60">{{ post.date | date: "%B %-d, %Y" }}</time>
            </article>
            {% endfor %}
        </section>
        <footer>
            <p style="opacity: 0.60">Links</p>
            <p><a href="https://mikklemberg.ee">Professional resume</a></p>
            <p><a href="https://posts.cv/mikk">Posts.cv</a></p>
            <p><a href="mailto:mikklemberg@icloud.com">mikklemberg@icloud.com</a></p>
        </footer>
    </div>
</body>
</html>
