<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - Mikk Lemberg's blog</title>
    <meta name="description" content="{{ page.description | escape }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <meta property="og:image" content="{{ '/assets/Frame%2061.png' | absolute_url }}" />
</head>
<body>
    <div class="container">
        <header>
            <img src="https://res.cloudinary.com/read-cv/image/upload/c_fill,h_92,w_92/dpr_2.0/v1/1/profilePhotos/8Gud87CNIBUOBFdgx9CVhQcj2zh2/b62a2c9d-dfd8-4b82-9868-36981a21e66d.jpg" alt="Mikk Lemberg" style="width:75px; height:75px; border-radius:2px;">
            <p style="opacity: 0.60;">Mikk Lemberg</p>
            <h1>{{ page.title }}</h1>
        </header>
        <article style="margin-top: 25px">
            <div class="content">
                {{ content }}
            </div>
            <div style="margin-top: 25px">
                <p><a href="/">← Back to all posts</a><p>
            </div>
        </article>
        <footer style="margin-top: 50px">
            <p style="opacity: 0.60">Links</p>
            <p><a href="https://mikklemberg.ee">Professional resume</a></p>
            <p><a href="https://posts.cv/mikk">Posts.cv</a></p>
            <p><a href="mailto:mikklemberg@icloud.com">mikklemberg@icloud.com</a></p>
        </footer>
    </div>
</body>
</html>
