<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - Mikk Lemberg's Blog</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <!-- Static Header Section -->
    <header class="header">
        <img src="https://res.cloudinary.com/read-cv/image/upload/c_fill,h_92,w_92/dpr_2.0/v1/1/profilePhotos/8Gud87CNIBUOBFdgx9CVhQcj2zh2/b62a2c9d-dfd8-4b82-9868-36981a21e66d.jpg" alt="Mikk Lemberg" style="width:75px; height:75px; border-radius:2px;">
        <p style="color: #000; opacity: 0.33;">Mikk Lemberg</p>
    </header>

    <div class="container">
        <article class="post">
            <!-- Dynamic Post Content -->
            <header class="post-header">
                <p class="meta" style="color: #000; opacity: 0.33;">{{ page.date | date: "%B %-d, %Y" }}</p>
                <h1>{{ page.title }}</h1>
            </header>
            <div class="post-content">
                {{ content }}
            </div>
            <!-- Back Button -->
            <div class="back-to-posts">
                <a href="{{ '/test' | relative_url }}">Back to all posts</a>
            </div>
        </article>
    </div>

    <!-- Footer Section -->
    <footer class="footer">
        <p>Links</p>
        <a href="https://mikklemberg.ee">Professional resume</a>
        <a href="https://posts.cv/mikk">Posts.cv</a>
        <a href="mailto:mikklemberg@icloud.com">mikklemberg@icloud.com</a>
    </footer>
</body>
</html>
